#formulario-dinamico {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 35px;
}


/* CADA CAMPO */

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* LABELS */

.campo label {
    color: #CBD5E1;
    font-size: 1rem;
    font-weight: bold;
}


/* INPUTS */

.campo input {
    background: #0F172A;
    border: 1px solid rgba(255,255,255,.1);
    color: white;
    padding: 16px;
    border-radius: 14px;
    outline: none;
    font-size: 1rem;
    transition: .3s;
}


/* EFECTO FOCUS */

.campo input:focus {
    border-color: #06B6D4;
    box-shadow: 0 0 18px rgba(6,182,212,.4);
    transform: scale(1.01);
}


/* BOTÓN */

#resolver-btn {
    display: block;
    margin: auto;
    background: linear-gradient(135deg, #3B82F6, #06B6D4);
    border: none;
    color: white;
    padding: 16px 40px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s;
}

#resolver-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(59,130,246,.5);
}

.campo select {
    background: #0F172A;
    border: 1px solid rgba(255,255,255,.1);
    color: white;
    padding: 16px;
    border-radius: 14px;
    outline: none;
    font-size: 1rem;
}